venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
build
develop-eggs
dist
downloads
eggs
.eggs
lib
lib64
parts
sdist
var
*.egg-info
.installed.cfg
*.egg
*.log
.DS_Store
*.sqlite3
.env
.git
api_key.txt

# Ignore test files but not the directories
images/*
!images/.gitkeep
mesh/*
!mesh/.gitkeep
graphs/*
!graphs/.gitkeep

